
@{
    ViewBag.Title = "AboutMe";
}

<h2>AboutMe</h2>
<h5>A short description of me.....</h5>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h2>BIO</h2>
            <p>Hello , my name is Eduan and I am currently a student Tuks.I'm studying Bcom Informatics. I have a passion for sports.
            I like computers and coding and figuring it out, or well atleast trying at the moment. I think my biggest goal in life is probably to be happy and constantly achieve small victories,
            like finishing my INF 272 projects on time.My favourite quote is a quote if one from William Shakespeare :"Come what come may, time and the hour runs through the roughest day." </p>
        </div>
        <div class="col-lg-4">
            <h2>Eduan</h2>
            <img src="~/Content/Media/Images/Myself.jpg" height="450" width="370" />
        </div>
    </div>
</div>

